/* Element principaux de la page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', "Arial Black", "Comic Sans MS", "Courrier New", 'Georgia', 'Impact', "Times New Roman", "Trebuchet MS", 'Verdana', sans-serif;
}

p, ul {
    color: #888888;
}

i {
    color: #868686;
}

a {
    color: #373737;
}

a:hover {
    text-decoration: none;
}

.titre h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    border-bottom: 3px #373737 solid;
    padding-bottom: 5px;
}

.titre {
    display: flex;
    justify-content: center;
}

/* Haut de page */
header {
    background-image: url("../img/coding-924920_1920.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 100px;
    color: #fff;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 500;
}

/* Laptop */
@media screen and (max-width: 1024px) {
    header {
        background-image: url("../img/fond-coding-tablet.png");
    }
}

/* Mobile L */
@media screen and (max-width: 425px) {
    header {
        background-image: url("../img/fond-coding-phoneL.jpg");
    }
}

/* Mobile M */
@media screen and (max-width: 375px) {
    header {
        background-image: url("../img/fond-coding-phoneM.jpg");
    }

    header h1 {
        font-size: 90px;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    header {
        background-image: url("../img/fond-coding-phoneS.jpg");
    }

    header h1 {
        font-size: 80px;
    }
}

/* Profil */
.section1 {
    padding-top: 50px;
    padding-bottom: 60px;
}

.section1 .contenue {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.section1 .contenue .texte1 .infos ul {
    list-style-type: none;
    font-size: 25px;
}

.section1 .contenue .texte1 .objectif p {
    padding-left: 40px;
    margin-top: 70px;
    font-size: 20px;
}

.section1 .contenue img {
    width: 300px;
    border: #888888 3px solid;
    padding: 10px;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .section1 .contenue {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section1 .contenue .texte1 .infos ul {
        text-align: center;
        padding-left: 0;
    }
    .section1 .contenue .texte1 .objectif p {
        padding-left: 0;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    .section1 .contenue img {
        width: 250px;
    }
}

/* Cursus */
.section2 {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 60px;
}

.section2 .contenue .texte2 {
    display: flex;
    margin-left: 400px;
    margin-top: 50px;
    align-items: center;
}

.section2 .contenue .texte2 .dates_ecole {
    border-right: 3px #888888 solid;
    padding-right: 50px;
}

.section2 .contenue .texte2 .dates_ecole p {
    font-size: 30px;
}

.section2 .contenue .texte2 .ecole {
    padding-left: 20px;
}

.section2 .contenue .texte2 .ecole a {
    font-size: 30px;
}

.section2 .contenue .texte2 .ecole p {
    font-size: 20px;
    margin: 0;
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .section2 .contenue .texte2 {
        margin-left: 100px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .section2 .contenue .texte2 {
        flex-direction: column;
        margin-left: 0;
    }

    .section2 .contenue .texte2 .dates_ecole {
        border-right: none;
        padding-right: 0;
    }

    .section2 .contenue .texte2 .dates_ecole p {
        margin: 0;
        font-size: 50px;
    }

    .section3 .contenue .texte2 .ecole {
        padding-left: 0;
    }

    .section3 .contenue .texte2 .ecole a, p {
        text-align: center;

    }
}

/* Experience */
.section3 {
    padding-top: 50px;
    padding-bottom: 60px;
}

.section3 .contenue .texte3 {
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

.section3 .contenue .texte3 .dates_experience {
    border-right: 3px #888888 solid;
    padding-right: 50px;
}

.section3 .contenue .texte3 .dates_experience p  {
    font-size: 30px;
}

.section3 .contenue .texte3 .experience {
    padding-left: 20px;
}

.section3 .contenue .texte3 .experience p {
    margin: 0;
}

.section3 .contenue .texte3 .experience ul {
    margin: 0;
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .section3 .contenue .texte3 {
        margin-left: 100px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .section3 .contenue .texte3 {
        flex-direction: column;
        margin-left: 0;
    }

    .section3 .contenue .texte3 .dates_experience {
        border-right: none;
        padding-right: 0;
    }

    .section3 .contenue .texte3 .dates_experience p {
        margin: 0;
        font-size: 50px;
    }

    .section3 .contenue .texte3 .experience {
        padding-left: 0;
    }

    .section3 .contenue .texte3 .experience ul li {
        align-items: center;
    }
}

/* Divers */
.section4 {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 60px;
}

.section4 .contenue .texte4 {
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

.section4 .contenue .texte4 .dates_divers {
    border-right: 3px #888888 solid;
    padding-right: 50px;
}

.section4 .contenue .texte4 .dates_divers {
    font-size: 30px;
}

.section4 .contenue .texte4 .infos_divers {
    padding-left: 20px;
}

.section4 .contenue .texte4 .infos_divers p {
    font-size: 30px;
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .section4 .contenue .texte4 {
        margin-left: 100px;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .section4 .contenue .texte4 {
        flex-direction: column;
        margin-left: 0;
    }

    .section4 .contenue .texte4 .dates_divers {
        border-right: none;
        padding-right: 0;
    }

    .section4 .contenue .texte4 .dates_divers p {
        font-size: 50px;
        margin: 0;
    }

    .section4 .contenue .texte4 .infos_divers {
        padding-left: 0;
    }

    .section4 .contenue .texte4 .infos_divers p {
        margin: 0;
        font-size: 50px;
    }
}

/* Competences */
.section5 {
    padding-top: 50px;
    padding-bottom: 100px;
}

.section5 .contenue h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    color: #888888;
}

.section5 .contenue .langages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.section5 .contenue .langages .HTML {
    display: inline-flex;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.section5 .contenue .langages .HTML h4 {
    font-size: 48px;
    color: #373737;
    margin: 0;
}

.section5 .contenue .langages .HTML .texte p {
    font-size: 36px;
    color: #FFBB00;
    margin: 0;
}

.section5 .contenue .langages .HTML img {
    width: 120px;
    margin-right: 15px;
}

.section5 .contenue .langages .CSS {
    display: inline-flex;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.section5 .contenue .langages .CSS h4 {
    font-size: 48px;
    color: #373737;
    margin: 0;
}

.section5 .contenue .langages .CSS p {
    font-size: 36px;
    color: #FFBB00;
    margin: 0;
}

.section5 .contenue .langages .CSS img {
    width: 120px;
    margin-right: 15px;
}

.section5 .contenue .langages .JavaScript {
    display: inline-flex;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.section5 .contenue .langages .JavaScript h4 {
    font-size: 48px;
    color: #373737;
    margin: 0;
}

.section5 .contenue .langages .JavaScript p {
    font-size: 36px;
    color: #FF0000;
    margin: 0;
}

.section5 .contenue .langages .JavaScript img {
    width: 120px;
    margin-right: 15px;
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .section5 .contenue .langages {
        flex-direction: column;
        align-items: center;
    }

    .section5 .contenue .langages .HTML {
        margin-bottom: 50px;
    }
    .section5 .contenue .langages .CSS {
        margin-bottom: 50px;
    }
}

/* Mobile L */
@media screen and (max-width: 425px) {
    .section5 .contenue h3 {
        text-align: center;
    }
}

/* Loisirs */
.section6 {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 60px;
}

.section6 .contenue {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.section6 .contenue .Loisirs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .section6 .contenue .Loisirs .lecture {
        width: 300px;
    }

    .section6 .contenue .Loisirs .lecture .element {
        flex-direction: column;
    }

    .section6 .contenue .Loisirs .lecture .element i {
        margin-bottom: 30px;
    }

    .section6 .contenue .Loisirs .lecture .element p {
        text-align: center;
    }

    .section6 .contenue .Loisirs .musique {
        width: 300px;
    }

    .section6 .contenue .Loisirs .musique .element {
        flex-direction: column;
    }

    .section6 .contenue .Loisirs .musique .element i {
        margin-bottom: 30px;
    }

    .section6 .contenue .Loisirs .musique .element p {
        text-align: center;
    }

    .section6 .contenue .Loisirs .games {
        width: 300px;
    }

    .section6 .contenue .Loisirs .games .element {
        flex-direction: column;
    }

    .section6 .contenue .Loisirs .games .element i {
        margin-bottom: 30px;
    }

    .section6 .contenue .Loisirs .games .element p {
        text-align: center;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    .section6 .contenue .Loisirs .lecture {
        width: 200px;
    }

    .section6 .contenue .Loisirs .musique {
        width: 200px;
    }

    .section6 .contenue .Loisirs .games {
        width: 200px;
    }
}

.section6 .contenue .Loisirs .lecture {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 50px;
}

.section6 .contenue .Loisirs .lecture .element {
    display: inline-flex;
    align-items: center;
}

.section6 .contenue .Loisirs .lecture .element i {
    color: #000;
    font-size: 100px;
    margin-right: 20px;
}

.section6 .contenue .Loisirs .lecture .element p {
    color: #000;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
}

.section6 .contenue .Loisirs .musique {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 50px;
}

.section6 .contenue .Loisirs .musique .element {
    display: inline-flex;
    align-items: center;
}

.section6 .contenue .Loisirs .musique .element i {
    color: #000;
    font-size: 100px;
    margin-right: 20px;
}

.section6 .contenue .Loisirs .musique .element p {
    color: #000;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
}

.section6 .contenue .Loisirs .games {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.section6 .contenue .Loisirs .games .element {
    display: inline-flex;
    align-items: center;
}

.section6 .contenue .Loisirs .games .element i {
    color: #000;
    font-size: 100px;
    margin-right: 20px;
}

.section6 .contenue .Loisirs .games .element p {
    color: #000;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
}

/* Bas de page */
footer {
    display: flex;
    background-color: #141414;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: column;
}

footer h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 50px;
}

footer a i {
    color: #c3c3c3;
    font-size: 150px;
}

footer a i:hover {
    color: #fff;
}

/* Mobile L */
@media screen and (max-width: 425px) {
    footer h2 {
        text-align: center;
    }
}
